/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
    font-family: 'Fira Code', monospace;
    background-color: #2e3a46;
    color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.terminal {
    background-color: #1e272e;
    border-radius: 10px;
    width: 90%; /* Increased width */
    max-width: 1200px; /* Set a maximum width */
    height: 80vh; /* Increased height */
    max-height: 800px; /* Set a maximum height */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex; /* Ensure terminal is displayed as flex container */
    flex-direction: column; /* Arrange children vertically */
    overflow: hidden; /* Prevent overflow content */
    margin-top: 20px; /* Add margin to top */
}

.terminal-header {
    background-color: #2d3436;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure header spans full width */
}

.buttons {
    display: flex;
    gap: 5px;
}

.buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.buttons .close {
    background-color: #ff5f57;
}

.buttons .minimize {
    background-color: #ffbd2e;
}

.buttons .maximize {
    background-color: #28c940;
}

.title {
    color: #dcdde1;
    font-size: 0.9em;
}

.terminal-content {
    padding: 20px;
    width: 100%; /* Ensure content spans full width */
    overflow-y: auto; /* Enable vertical scrolling for content */
}

.line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; /* Ensure lines span full width */
}

.prompt {
    color: #28c940; /* Change to the color of the prompt sign */
    margin-right: 10px;
}

.command {
    color: #00aaff;
}

.description {
    color: #ffffff;
    flex: 1;
}

.year {
    color: #ffbd2e;
    margin-left: 10px;
}

.detail {
    color: #aaaaaa;
    margin-left: 20px;
    flex: 1;
}

.section {
    margin-top: 20px;
}

/* Custom styles for specific elements */
.github-repository .detail a {
    color: #ff5f57; /* Change to the color of the prompt sign */
    text-decoration: none; /* Remove underline */
}

.github-repository .detail a:hover {
    text-decoration: underline; /* Underline on hover */
}

.description a {
    color: #00aaff; /* Match command color */
    text-decoration: none; /* Remove underline */
}

.description a:hover {
    text-decoration: underline; /* Underline on hover */
}

.section-title {
    color: #ffffff;
    font-weight: bold;
}
